{% extends 'base.html' %}

{% block main_content %}

{% set counter = 2 %}
<main>



    <nav>
        <h2></h2>
        <h2><a href="{{url_for('flowers')}}">thomas's flower shop</a></h2>
        <h2><a href="{{url_for('login')}}">login</a></h2>
    </nav>
    <div id="banner">
        <img src="/static/banner.jpg" alt="">
    </div>
    




    <div id="container">
        {% for flower in flowers %}

        <div id="flower">
            <a href="">
                {{flower['flower_name']}}
                <br>
                {{flower['price']}}
                <br>
                <img src="{{ url_for('static', filename=flower['img_url'])}}" alt="">
            </a>
        </div>


        {% endfor %}

    </div>



    {% endblock %}

</main>