{% extends 'base.html' %}

{% block main_content %}

{% set counter = 2 %}
<main>



    <nav>
        <h2>{{ username }}</h2>
        <h2><a href="{{url_for('flowers')}}">thomas's flower shop</a></h2>
        <h2><a href="{{url_for('login')}}">{{ login }}</a></h2>
        <form action="{{url_for('search')}}" method="POST" novalidate>
            {{ search_form.hidden_tag() }}
            {{ search_form.search() }} {{search_form.submit()}}
        </form>
        

    </nav>
    <div id="banner">
        <img src="/static/banner.jpg" alt="">
    </div>
    
    <div class="filter">
        <form action="{{ url_for('flowers')}}" method="POST" novalidate>
            {{ form.hidden_tag() }}

            {{ form.filter.lable}}
            {{ form.filter() }}
            <br>
            {{form.submit()}}


        </form>
    </div>


    <div id="container">
        {% for flower in flowers %}

        <div id="flower">
            <a href="{{url_for('add_to_basket', flower_name=flower['flower_name'])}}">
                {{flower['flower_name']}}
                <br>
                {{flower['price']}}
                <br>
                <img src="{{ url_for('static', filename=flower['img_url'])}}" alt="">
            </a>
        </div>


        {% endfor %}

    </div>



    {% endblock %}

</main>