{% extends 'base.html' %}

{% block main_content %}

    <form action="" method="POST" novalidate>
        <p>Enter your email to reset your password</p>


        {{ form.hidden_tag() }}
        {{ form.email.label }}
        <br>
        {{ form.email() }}
        <br>
        {{ form.new_password.label }}
        <br>
        {{ form.new_password() }}
        <br>
        {{ form.re_password.label }}
        <br>
        {{ form.re_password() }}
        <br>
        {{ form.submit() }}
        
    </form>

{% endblock %}